.card{
    background-color: $white;
    color: $black;
}
.card-img-top{
    height: 20em;

    &-specific{
    height: 25em;
    }
}

@media screen and (max-width: 900px) {
    .card-img-top{
        height: 14em;

        &-specific{
            height: 19em;
            width: 100%;
        }
    }
}
