.wrap{
    flex-wrap: wrap;
}

body{
    background-color: $background-color;
    color: $white-text-color;
}

.errorMessage{
    color: red;
}

.heading{
    margin-top: 3em;
    text-align: center;
}


@media screen and (max-width: 900px) {

    h5{
        font-size: 1em;
    }

}
